CMakeCache.txt
CMakeFiles/*
cheminotc
cmake_install.cmake
lib/*
Makefile
Testing
*.db
runUnitTests
*.a
calendar_dates
graph
Makefile
CTestTestfile.cmake
cheminotc_units
play/node_modules
play/www/app.js
data.json
main
