CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
Testing
*.db
runUnitTests
calendardates
graph
Makefile
CTestTestfile.cmake
cheminotc_units
play/node_modules
play/www/app.js
*.json
main
android/
lib/gtest-1.7.0/CMakeFiles/*
lib/protobuf
.DS_Store
settings.h
ter-calendardates
trans-calendardates
inter-calendardates
ter-graph
trans-graph
inter-graph

# cpp
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
