ul {
    padding: 0;
    text-align: center;
}

li {
    list-style: none;
    padding: 10px;
}

header {
    background: #FFF;
    height: 70px;
    position: fixed;
    top: 0;
}

.main {
    margin-top: 100px;
}

.departures, .edges, .matched {
    position: absolute;
    cursor: pointer;
    top: 0;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.82);
}

.departures.on, .matched.on {
    width: 500px;
}

.departures {
    left: 30vw;
}

.departures li.is-matched {
    background: #D8D8D8;
}

.edges {
    left: 70vw;
}

.matched {
    left: 50vw;
}

.departures li span, .matched li span {
    padding: 4px;
}

.departures ul, .edges ul, .matched ul {
    display: none;
    max-height: 400px;
    overflow: auto;
}

.departures.on ul, .edges.on ul, .matched.on ul {
    display: block;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}
